@(employeeForm: Form[models.Employee],user: models.users.User)
@import helper._

@main("Add Employee",user) {
    <p class="lead">Add a new employee</p>
    @form(action=routes.HomeController.addEmployeeSubmit(), 'class-> "form-horizontal",
         'role -> "form", 'method -> "POST", 'enctype -> "multipart/form-data") {
        @CSRF.formField

        @inputText(employeeForm("name"), '_label -> "Name", 'class -> "form_control")
        @inputText(employeeForm("email"), '_label -> "E-mail", 'class -> "form_control")
        @inputText(employeeForm("password"), '_label -> "Password", 'class -> "form_control")

        <label>Image Upload</label>
        <input class="btn-sm btn-default" type="file" name="upload">

        @inputText(employeeForm("id"), '_label -> "", 'hidden -> "hidden")

        <div class="actions">
            <input type="submit" value="Add/Update Employee" class="btn btn-primary">
            <a href="@routes.HomeController.employee">
                <button type="button" class="btn btn-warning">Cancel</button>
            </a>
        </div>
        }
}