@(projects: List[models.Projects], department: List[models.Department], user: models.users.User)

@main("Projects",user) {

<p class="lead">Project Catalogue</p>
<br>
<div class="row">
  <div class="col-sm-2">
    <h4>Department</h4>
    <div class="list-group">
      <a href="@routes.HomeController.index(0)" class="list-group-item">All Department</a>
      @for(c <- department) {
        <a href="@routes.HomeController.index(c.getId)" class="list-group-item">@c.getName
          <span class="badge">@c.getProjects.size()</span>
        </a>
      }
    </div>
  </div>
  <div class="col-sm-10">
    <table class="table table-bordered table-hover table-condensed">
      @if(flash.containsKey("success")) {
        <div class="alert alert-success">
          @flash.get("success")
        </div>
      }
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Start Date</th>
          
          <th colspan="2"></th>      
        </tr>
      </thead>

      <tbody>
        @for(p<-projects) {
          <tr>
            <td class="numeric">@p.getId</td>
            <td>@p.getName</td>
            <td>@p.getDepartment.getName</td>        
            <td>@p.getDescription</td>
            <td>@p.getStartDateString</td>
            @if((user != null) && ("manager".equals(user.getRole()))){
            <td>
              <a href="@routes.HomeController.updateProjects(p.getId)" class="button xs btn-danger">
                <span class="glyphicon glyphicon-pencil"></span>
              </a>
            </td>        <td>
              <a href="@routes.HomeController.deleteProjects(p.getId)" class="button xs btn-danger" onclick="return confirmDel();">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
            }
          </tr>
        }
      </tbody>

    </table>

    @if((user != null) && ("manager".equals(user.getRole()))){
    <p>
      <a href="@routes.HomeController.addProjects()">
        <button class="btn btn-primary">Add a projects</button>
      </a>
    </p>
    }
  </div>
</div>
}
